{% extends 'base.html' %}

{% block content %}
    <form action="" method="post"> {% csrf_token %}
      
      <!-- Search -->
      <input class="me-2 mb-2"  name="searched_value" value="{{searched_value}}" type="search" placeholder="Search Universities" aria-label="Search">
      <button type="submit" name="buttonType" value="search" class="btn btn-success btn-sm mb-2" type="submit">Search</button>
      <!-- search -->

      <!-- {% comment %} Modal {% endcomment %} -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" name="uni_name" class="form-control mb-2" placeholder="University Name">
            <input type="text" name="daad_url" class="form-control" placeholder="Daad url">
            <!-- <input type="text" name="uni_name" class="form-control" placeholder="University Name"> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" name="buttonType" value="create_uni" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>
  {% comment %} endModal {% endcomment %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm mb-2 mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create University
    </button>
    <!-- modal -->


  <br>



  {% for uni in university %}
  <div class="card mb-2 mx-2">
    <h5 class="card-header">{{uni.name}}</h5>
    <div class="card-body">
      <h5 class="card-title">daad url: <a href="https:/{{uni.daad_url}}" target="_blank">{{uni.daad_url}}</a></h5>
      <p class="card-text">Check the courses for {{uni.name}} buddy all the best!</p>
      {% comment %} Toggle {% endcomment %}
      <p class="d-inline-flex gap-1">
      <a class="btn btn-primary mx-2" data-bs-toggle="collapse" href="#collapseExample{{uni.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
        Courses Table Content
      </a>
      {% comment %} endtoggle {% endcomment %}
      {% comment %} <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-bs-target
      </p>  
      </button> {% endcomment %}
  
    {% comment %} table {% endcomment %}
    <div class="collapse" id="collapseExample{{uni.id}}">
      <div class="card card-body">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    <!-- <button type="submit" class="btn btn-warning btn-sm" name="buttonType" value="save_course">Save</button>
                    <button type="submit" class="btn btn-danger btn-sm" name="buttonType" value="delete_course">Delete</button> -->
                    <!-- <input type="hidden" name="university-{{uni.id}}" value="{{uni.id}}"> -->
                    <button type="submit" class="btn btn-outline-primary btn-sm" name="buttonType" value="checkcourse-{{uni.id}}">Check course</button>
                  </th>
                </tr>
                <tr>
                  <th scope="col">Course</th>
                  <th scope="col">Course Category</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Applied</th>

                </tr>
              </thead>
              <tbody>
                {% for course in uni.courses.all %}
                <tr>
                  <td><div contenteditable>{{course.name}}</div></td>
                  <td> {{course.course_category.name}}</td>
                  <!-- <td><input type="datetime-local" name="" value="{{course.start_date}}" id=""></td>
                  <td><input type="datetime-local" name=""  value="{{course.end_date}}" id=""></td> -->
                  <td>{{course.start_date}}</td>
                  <td>{{course.end_date}}</td>
                  {% if course.applied == True %}
                  <th scope="row"><input type="checkbox" name="" id="" checked disabled></th>
                  {% else %}
                  <th scope="row"><input type="checkbox" name="" id=""  disabled></th>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>    </div>
    </div>
    {% comment %} endtable {% endcomment %}
  
    </div>
  </div>
  {% endfor %}

</form>

{% endblock %} 